.modal {
    max-width: 720px;
    width: 100%;
    background: #1C1C21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
    min-height: 539px;
    padding: 40px 40px 60px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    z-index: 100;
    transform: scale(0.8);
    opacity: 0;
    animation: modalShow 0.15s forwards;
    animation-delay: 0.2s;


    .order__info {
        text-align: left;
    }


}


.modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal__image {
    max-width: 520px;
    padding: 0 20px;
    margin-bottom: 20px;

}

.modal__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;

}

.modal__notitle {
    border: none;
    justify-content: flex-end;
}



.modal__name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    color: #F2F2F3;
    width: 520px;
    text-align: center;
    margin-bottom: 20px;
}

.img {
    max-width: 480px;
    display: block;
    object-fit: cover;
    transition: all .4s ease;

}

.img:hover {
    transform: scale(1.1);
}



.button {
    background-color: transparent;
    width: 40px;
    height: 40px;
    font-size: 20px;
    border: 1px solid transparent;
    outline: none;
    color: #fff;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: all .4s ease;
    z-index: 100;
}


.button:hover {
    transform: scale(1.2);
    background-color: black;
    border: 1px solid #4C4CFF;
}


.modal__list {
    display: flex;
    gap: 20px;
    padding: 10px;
}

.modal__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 15px;
    text-align: center;
    transition: all .4s ease;
}

.modal__item:hover {
    transform: scale(1.1);
}

.name {
    font-family: 'JetBrains Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #8585AD;

}


.number {
    font-family: 'Iceland';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 24px;
    color: #8585AD;
}

.modal__title {
    margin-bottom: 40px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    font-family: 'JetBrains Mono', monospace, sans-serif;

}



@keyframes modalShow {
    0% {
        opacity: 0;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}