.history {
    position: relative;
    width: 100%;

    &__list {
        max-width: 844px;
        width: 100%;
        height: 868px;
        overflow: auto;
        display: flex;
        flex-direction: column;
        gap: 24px;

        &::-webkit-scrollbar {
            background: #2F2F37;
            width: 8px;
            border-radius: 2px;

        }

        &::-webkit-scrollbar-thumb {
            background: #8585AD;
            border: 3px solid #8585AD;
            height: 100px;

        }

    }

    &__item {
        padding: 24px;
        width: 100%;
        border-radius: 40px;
        background: #1C1C21;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);

        &-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 24px;
        }

        &-number {
            font-family: 'Iceland';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 24px;
            color: #F2F2F3;
        }

        &-title {
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 30px;
            color: #F2F2F3;
            margin-bottom: 24px;
        }

        &-ingredients {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-list {
            display: flex;
            align-items: center;
            position: relative;
        }

        &-count {
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
            position: absolute;
            color: #F2F2F3;
            top: 50%;
            right: 7%;
            transform: translate(-50%, -50%);
            z-index: 10;
        }

        &-total {
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: 'Iceland';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 24px;
        }

        &-summ {
            font-family: 'Iceland';
            font-style: normal;
            font-weight: 400;
            font-size: 28px;
            line-height: 24px;
        }

        &-icon {
            width: 22px;
            height: 22px;
        }

        &-status {
            font-family: 'JetBrains Mono';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #F2F2F3;
            margin-bottom: 24px;
        }

        &-done{
            color: #00CCCC;
        }
    }


    &__link {
        color: #fff;

    }


}