.section__constructor {
    padding: 100px 10px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;



}

.list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    max-height: 400px;
    overflow-y: auto;

}

.list::-webkit-scrollbar {
    background: #2F2F37;
    width: 8px;
    border-radius: 2px;


}

.list::-webkit-scrollbar-thumb {
    background: #8585AD;
    border: 3px solid #8585AD;
    height: 100px;

}

.list__item {
    display: flex;
    gap: 6px;
    align-items: center;

}



.info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price>svg {
    width: 36px;
    height: 36px;
}