.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
    transition: display .4s ease;
    z-index: 999;

}

.show {
    display: flex;
}

.hidden {
    display: none;
}